<section class="content">
  <div class="container-fluid">
    <div class="content-header">
      <div class="container- fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Mascotas</h1>
          </div>
          <!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Inicio</a></li>
              <li class="breadcrumb-item active">Mascotas</li>
            </ol>
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </div>

    <div class="card">
      <div class="card-header headerCardConsultas">
        <div class="row">
          <div class="col-sm-6 col-md-6 col-lg-3">
            <button
              type="button"
              class="btn btn-block bg-gradient-info"
              data-toggle="modal"
              data-target="#registrarMascota"
            >
              <i class="nav-icon fas fa-solid fa-dog"></i> Registrar nueva
              mascota
            </button>
          </div>
          <div class="col-sm-6 col-md-6 col-lg-3">
            <button
              type="button"
              class="btn btn-block bg-gradient-info"
              data-toggle="modal"
              data-target="#registrarMascota"
            >
              Mascotas Registradas
              <i class="nav-icon fas fa-solid fa-file-pdf"></i>
            </button>
          </div>
          <div class="col-sm-6 col-md-6 col-lg-6">
            <div class="input-group mb-3">
              <input type="text" class="form-control rounded-0" />
              <span class="input-group-append">
                <button type="submit" class="btn btn-info btn-flat">
                  Buscar
                </button>
              </span>
            </div>
          </div>
        </div>
      </div>
      <!-- /.tarjeta de datos de la mascota -->
      <div class="card-body pb-0">
        <div class="row">
          <div
            class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column"
            *ngFor="let item of listaMascotas"
            style="width: 600px"
          >
            <div class="card bg-light d-flex flex-fill">
              <div class="card-header headerCardMascotas">
                Datos del paciente: {{ item.nombreMascota }}
              </div>
              <div class="card-body pt-0">
                <div class="row">
                  <div class="col-8">
                    <!-- /<p class="text-muted text-sm"><b>About: </b> Web Designer / UX / Graphic Artist / Coffee Lover </p> -->
                    <ul class="ml-4 mb-0 fa-ul text-muted">
                      <li class="large">
                        <span class="fa-li"
                          ><i class="fa-solid fa-user"></i
                        ></span>
                        <h6>
                          Dueño: {{ item.dueno.nombres }}
                          {{ item.dueno.apellidoPaterno }}
                          {{ item.dueno.apellidoMaterno }}
                        </h6>
                      </li>
                      <li class="medium">
                        <span class="fa-li"
                          ><i class="fa-solid fa-droplet"></i
                        ></span>
                        <b>Color: {{ item.color }} </b>
                      </li>
                      <li class="medium">
                        <span class="fa-li"
                          ><i class="fa-solid fa-hashtag"></i
                        ></span>
                        <b>Tatuaje: {{ item.tatuaje }} </b>
                      </li>
                      <li class="medium">
                        <span class="fa-li"
                          ><i class="fa-solid fa-list-ol"></i> </span
                        ><b
                          >Edad:
                          {{ calcularEdad(item.fecha_nacimiento).anios }} años
                        </b>

                        <b>
                          {{ calcularEdad(item.fecha_nacimiento).meses }} meses
                        </b>
                      </li>
                      <li class="medium">
                        <span class="fa-li"
                          ><i class="fa-brands fa-medium"></i
                        ></span>
                        <b>Conducta: {{ item.conducta }}</b>
                      </li>
                      <li class="medium">
                        <span class="fa-li"
                          ><i class="fa-solid fa-venus-mars"></i></span
                        ><b>Sexo: {{ item.sexo }}</b>
                      </li>
                      <li class="medium">
                        <span class="fa-li"
                          ><i class="fa-brands fa-medium"></i
                        ></span>
                        <b
                          >Especie:
                         </b
                        >
                      </li>
                      <li class="medium">
                        <span class="fa-li"
                          ><i class="fa-solid fa-splotch"></i
                        ></span>
                        <b>Raza: {{ item.idDueno }}</b>
                      </li>
                    </ul>
                  </div>
                  <div class="col-4 text-center">
                    <h3 class="profile-username text-center"><b> </b></h3>
                    <td>
                      <img
                        src="{{
                          item.foto
                            ? item.foto
                            : '../../../assets/dist/img/avatar.png'
                        }}"
                        class="img-circle img-fluid"
                        width="150px"
                      />
                    </td>
                  </div>
                </div>
              </div>
              <div class="card-footer">
                <div class="text-right">
                  &nbsp;
                  <a
                    class="btn btn-success btn-sm btnRegistrarConsulta"
                    idMascota=""
                  >
                    Nueva consulta
                  </a>
                  &nbsp;
                  <a
                    routerLink="/historial"
                    class="btn btn-primary bg-indigo btn-sm btnHistorial"
                    idMascota=""
                  >
                    Historial
                  </a>
                  &nbsp;
                  <a
                    class="btn btn-info btn-sm btnEditarmascota"
                    idMascota=""
                    data-toggle="modal"
                    data-target="#modalEditarMascota"
                  >
                    Editar
                  </a>
                  &nbsp;
                  <a
                    class="btn btn-danger btn-sm btnEliminarmascota"
                    idMascota=""
                  >
                    <i class="fas fa-trash"> </i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Registar Mascota -->
      <div class="modal fade" id="registrarMascota">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header" style="background-color: #16817a">
              <h4 class="modal-title" style="color: #ffffff">
                Registrar Nueva Mascota
              </h4>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form [formGroup]="formRegistrarMascota">
                <div class="form-row">
                  <div class="col-sm-12 col-md-6 col-lg-12">
                    <div class="form-row">
                      <div class="col-sm-12 col-md-6 col-lg-6">
                        <!-- text input -->
                        <div class="form-group">
                          <label>Nombre de la mascota</label>
                          <input
                            type="text"
                            class="form-control"
                            formControlName="nombreM"
                            placeholder="Ingrese el nombre de la mascota"
                          />
                        </div>
                      </div>
                      <div class="col-sm-12 col-md-6 col-lg-6">
                        <div class="form-group">
                          <label>Dueño</label>
                          <div class="input-group">
                            <select
                              class="form-control input"
                              formControlName="duenoM"
                            >
                              <option
                                *ngFor="let item of listaDuenos"
                                [value]="item.idDuenos"
                              >
                                {{ item.nombres }} {{ item.apellidoPaterno }}
                                {{ item.apellidoMaterno }}
                              </option>
                            </select>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="col-sm-12 col-md-6 col-lg-3">
                        <!-- text input -->
                        <div class="form-group">
                          <label>Color</label>
                          <input
                            type="text"
                            class="form-control"
                            formControlName="colorM"
                            placeholder="Ingrese color(es) de la mascota"
                          />
                        </div>
                      </div>
                      <div class="col-sm-12 col-md-6 col-lg-3">
                        <!-- text input -->
                        <div class="form-group">
                          <label>Años</label>
                          <input
                            type="text"
                            class="form-control"
                            formControlName="edadAnios"
                            placeholder="año"
                            (change)="calcularFechaNacimiento()"
                          />
                        </div>
                      </div>
                      <div class="col-sm-12 col-md-6 col-lg-3">
                        <!-- text input -->
                        <div class="form-group">
                          <label>Meses</label>
                          <input
                            type="text"
                            class="form-control"
                            formControlName="edadMeses"
                            placeholder="meses"
                            (change)="calcularFechaNacimiento()"
                          />
                        </div>
                      </div>
                      <div class="col-sm-12 col-md-6 col-lg-3">
                        <div class="form-group">
                          <label>Edad</label>

                          <input
                            type="date"
                            class="form-control"
                            formControlName="fechaNac"
                            placeholder="Ingrese fecha nac"
                          />
                          <!-- <select class="form-control input" formControlName="aniosM">
                              <option value="0">Selecionar años</option>
                              <option value="0">0</option>
                              <option value="1">1</option>
                              <option value="2">2</option>
                              <option value="3">3</option>
                              <option value="4">4</option>
                              <option value="5">5</option>
                              <option value="6">6</option>
                              <option value="7">7</option>
                              <option value="8">8</option>
                              <option value="9">9</option>
                              <option value="10">10</option>
                              <option value="11">11</option>
                              <option value="12">12</option>
                              <option value="13">13</option>
                              <option value="14">14</option>
                              <option value="15">15</option>
                            </select>
                            <select class="form-control input" formControlName="mesesM">
                              <option value="0">Selecionar meses</option>
                              <option value="1">1</option>
                              <option value="2">2</option>
                              <option value="3">3</option>
                              <option value="4">4</option>
                              <option value="5">5</option>
                              <option value="6">6</option>
                              <option value="7">7</option>
                              <option value="8">8</option>
                              <option value="9">9</option>
                              <option value="10">10</option>
                              <option value="11">11</option>
                            </select>-->
                        </div>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="col-sm-12 col-md-6 col-lg-4">
                        <!-- text input -->
                        <div class="form-group">
                          <label>Especie</label>
                          <div class="form-group">
                            <div class="input-group">
                              <select
                                class="form-control input"
                                formControlName="especieM"
                                [(ngModel)]="especieSeleccionada"
                                (change)="mostrarRazas()"
                              >
                                <option value="">Selecione especie</option>
                                <option
                                  *ngFor="let item of listaEspecies"
                                  [value]="item.descripcion"
                                >
                                  {{ item.descripcion }}
                                </option>
                              </select>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div
                        class="col-sm-12 col-md-6 col-lg-4"
                        *ngIf="
                          this.formRegistrarMascota.get('especieM')?.value != ''
                        "
                      >
                        <div class="form-group">
                          <label>Raza</label>
                          <div class="form-group">
                            <div class="input-group">
                              <select
                                class="form-control input"
                                formControlName="razaM"
                                [(ngModel)]="idEspecieForm"
                              >
                                <option value="">Selecione raza</option>
                                <option
                                  *ngFor="let item of listaRazas"
                                  [value]="item.idEspecie"
                                >
                                  {{ item.raza.descripcion }}
                                </option>
                              </select>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-12 col-md-6 col-lg-4">
                        <div class="form-group">
                          <label>Sexo de la mascota</label>
                          <div class="input-group">
                            <select
                              class="form-control input-lg"
                              formControlName="sexoM"
                            >
                              <option value="">Selecionar sexo</option>
                              <option value="Macho">Macho</option>
                              <option value="Hembra">Hembra</option>
                            </select>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="col-sm-4 col-md-6 col-lg-6">
                        <div class="form-group">
                          <label>Tatuaje (Opcional)</label>
                          <input
                            type="text"
                            class="form-control"
                            formControlName="tatuajeM"
                            placeholder="Ingrese el tatuaje si la mascota lo tiene."
                          />
                        </div>
                      </div>
                      <div class="col-sm-4 col-md-6 col-lg-6">
                        <div class="form-group">
                          <label>Conducta</label>
                          <div class="input-group">
                            <select
                              class="form-control input-lg"
                              formControlName="conductaM"
                            >
                              <option value="">Selecionar sexo</option>
                              <option value="CONFIADO">Confiado</option>
                              <option value="DESCONFIADO">Desconfiado</option>
                            </select>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="col-lg-4">
                      <div class="input-group mb-3">
                        <span
                          class="input-group-text"
                          id="inputGroup-sizing-default"
                          >Foto
                        </span>
                        <app-input-img
                          (change)="onFileSelected($event)"
                        ></app-input-img>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="modal-footer justify-content-between">
                  <button
                    type="button"
                    class="btn btn-danger"
                    data-dismiss="modal"
                  >
                    Cerrar
                  </button>
                  <button
                    type="submit"
                    class="btn btn-primary"
                    (click)="guardarMascota()"
                  >
                    Guardar datos
                  </button>
                </div>
              </form>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
    </div>
  </div>
</section>
