<section class="content">
  <div class="container-fluid">
    <div class="content-header">
      <div class="container- fluid">
        <div class="row ">
          <div class="col-sm-6">
            <h5 class="m-0">Mascotas</h5>
          </div>
          <!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Inicio</a></li>
              <li class="breadcrumb-item active">Mascotas</li>
            </ol>
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </div>

    <div class="card">
      <div class="card-header headerCardConsultas">
        <div class="row">
          <div
            *ngIf="esRol('Administrador') || esRol('Veterinario')"
            class="col-3"
          >
            <button
              type="button"
              class="btn bg-gradient-info btn-sm btn-block"
              data-toggle="modal"
              data-target="#registrarMascota"
            >
              <i class="nav-icon fas fa-solid fa-plus"></i> Registrar nueva
              mascota
            </button>
          </div>
          <div class="col-3">
            <app-lista-mascotas-pdf></app-lista-mascotas-pdf>
          </div>
          <div class="col-6">
            <div class="input-group input-group-sm ">
              <input
                type="text"
                class="form-control "
                [(ngModel)]="buscarTexto"
                (input)="buscarMascota()"
                placeholder="Buscar mascota por nombre"
              />
            </div>
          </div>
        </div>

      </div>

      <!-- /.tarjeta de datos de la mascota -->
      <div class="card-body pb-0">
        <div class="row">
          <div
            class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column"
            *ngFor="
              let item of listaMascotas
                | paginate : { itemsPerPage: 6, currentPage: pagina }
            "
          >
            <div class="card bg-light d-flex flex-fill">
              <div class="card-header text-muted border-bottom-0"></div>
              <div class="card-body pt-0">
                <div class="row">
                  <div class="col-7">
                    <h2 class="lead">
                      <b>Mascota: {{ item.nombreMascota }}</b>
                    </h2>

                    <ul class="ml-2 mb-0 fa-ul text-muted">
                      <li class="small">
                        <b>Dueño: </b>
                        {{ item.dueno.nombres }}
                        {{ item.dueno.apellidoPaterno }}
                        {{ item.dueno.apellidoMaterno }}
                      </li>
                      <li class="small">
                        <b>Edad: </b
                        >{{ calcularEdad(item.fecha_nacimiento).anios }} años

                        {{ calcularEdad(item.fecha_nacimiento).meses }} meses
                      </li>
                      <li class="small"><b>Color: </b>{{ item.color }}</li>
                      <li class="small">
                        <b>Conducta: </b>{{ item.conducta }}
                      </li>
                      <li class="small"><b>Sexo: </b>{{ item.sexo }}</li>
                      <li
                        class="small"
                        *ngIf="
                          item.raza.idEspecie === 1 || item.raza.idEspecie === 2
                        "
                      >
                        <b>Especie: </b>
                        {{ item.raza.idEspecie === 1 ? "CANINO" : "FELINO" }}
                      </li>
                      <li class="small">
                        <b>Raza: </b>{{ item.raza.descripcion }}
                      </li>
                    </ul>
                  </div>
                  <div class="col-5 text-center">
                    <a
                      class="btn btn-sm btn-outline-info"
                      data-toggle="modal"
                      data-target="#modalActualizarFoto"
                      (click)="abrirActualizarFoto(item)"
                    >
                      <i class="fas fa-camera"></i> Subir foto
                    </a>
                    <div class="imagen-container">
                      <img
                        [src]="
                          item.foto
                            ? item?.foto
                            : item?.raza.idEspecie === 1
                            ? '../../../assets/dist/img/avatarPerro.png'
                            : '../../../assets/dist/img/avatarGato.png'
                        "
                        alt="user-avatar"
                        class="img-fluid"
                      />
                    </div>
                    <div class="cod">
                      <b>Cod. Mascota: {{ item.cod_mascota }}</b>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-footer" style="">
                <div class="float-right">
                  &nbsp;
                  <a
                    class="btn btn-success btn-sm btnRegistrarConsulta"
                    idMascota=""
                    (click)="navegarVentanaDestino(item)"
                    *ngIf="esRol('Administrador') || esRol('Veterinario')"
                  >
                    Nueva consulta
                  </a>
                  &nbsp;
                  <a
                    class="btn btn-primary bg-indigo btn-sm btnHistorial"
                    idMascota=""
                    (click)="navegarVentanaHistorial(item)"
                  >
                    Historial
                  </a>

                  &nbsp;
                  <a
                    class="btn btn-info btn-sm btnEditarmascota"
                    idMascota=""
                    data-toggle="modal"
                    data-target="#modalEditarMascota"
                    (click)="abrirModalEditarMascota(item.idMascota)"
                    *ngIf="esRol('Administrador') || esRol('Veterinario')"
                  >
                    Editar
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-center">
          <pagination-controls
            (pageChange)="pagina = $event"
          ></pagination-controls>
        </div>
      </div>

      <!-- Registar Mascota -->
      <div class="modal fade" id="registrarMascota">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header" style="background-color: #16817a">
              <h4 class="modal-title" style="color: #ffffff">
                Registrar Nueva Mascota
              </h4>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
                (click)="resetForm()"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form [formGroup]="formRegistrarMascota">
                <div class="form-row">
                  <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="form-row">
                      <div class="col-sm-12 col-md-6 col-lg-6">
                        <div class="form-group">
                          <label>Nombre de la mascota</label>
                          <input
                            type="text"
                            class="form-control"
                            formControlName="nombreM"
                            placeholder="Ingrese el nombre de la mascota"
                            (blur)="verNombreError = true"
                            [(ngModel)]="textoEnMayusculas"
                            (input)="convertirAMayusculas()"
                          />

                          <app-error-message
                            [error]="
                              formRegistrarMascota.get('nombreM')?.errors
                            "
                            [showError]="verNombreError"
                          ></app-error-message>
                        </div>
                      </div>
                      <div class="col-sm-12 col-md-6 col-lg-6">
                        <div class="form-group">
                          <label>Dueño</label>
                          <div class="input-group">
                            <select
                              class="form-control input"
                              formControlName="duenoM"
                              (blur)="verDuenoMError = true"
                            >
                              <option
                                *ngFor="let item of listaDuenos"
                                [value]="item.idDuenos"
                              >
                                {{ item.nombres }} {{ item.apellidoPaterno }}
                                {{ item.apellidoMaterno }}
                              </option>

                              />

                              <app-error-message
                                [error]="
                                  formRegistrarMascota.get('duenoM')?.errors
                                "
                                [showError]="verDuenoMError"
                              ></app-error-message>
                            </select>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="col-sm-12 col-md-6 col-lg-3">
                        <div class="form-group">
                          <label>Color</label>
                          <input
                            type="text"
                            class="form-control"
                            formControlName="colorM"
                            (blur)="verColorError = true"
                            (input)="convertirAMayusculas()"
                          />

                          <app-error-message
                            [error]="formRegistrarMascota.get('colorM')?.errors"
                            [showError]="verColorError"
                          ></app-error-message>
                        </div>
                      </div>
                      <div class="col-sm-12 col-md-6 col-lg-3">
                        <div class="form-group">
                          <label>Años</label>
                          <input
                            type="number"
                            class="form-control"
                            formControlName="edadAnios"
                            (change)="calcularFechaNacimiento()"
                            (blur)="verEdadAniosError = true"
                          />

                          <app-error-message
                            [error]="
                              formRegistrarMascota.get('edadAnios')?.errors
                            "
                            [showError]="verEdadAniosError"
                          ></app-error-message>
                        </div>
                      </div>
                      <div class="col-sm-12 col-md-6 col-lg-3">
                        <div class="form-group">
                          <label>Meses</label>
                          <input
                            type="number"
                            class="form-control"
                            formControlName="edadMeses"
                            (change)="calcularFechaNacimiento()"
                            (blur)="verEdadMesesError = true"
                          />

                          <app-error-message
                            [error]="
                              formRegistrarMascota.get('edadMeses')?.errors
                            "
                            [showError]="verEdadMesesError"
                          ></app-error-message>
                        </div>
                      </div>
                      <div class="col-sm-12 col-md-6 col-lg-3">
                        <div class="form-group">
                          <label>Fecha de nacimiento</label>

                          <input
                            type="date"
                            class="form-control"
                            formControlName="fechaNac"
                            (blur)="verEdadError = true"
                          />

                          <app-error-message
                            [error]="
                              formRegistrarMascota.get('fechaNac')?.errors
                            "
                            [showError]="verEdadError"
                          ></app-error-message>
                        </div>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="col-sm-12 col-md-6 col-lg-4">
                        <div class="form-group">
                          <label>Especie</label>
                          <div class="form-group">
                            <div class="input-group">
                              <select
                                class="form-control input"
                                formControlName="especieM"
                                [(ngModel)]="especieSeleccionada"
                                (change)="mostrarRazas()"
                              >
                                <option value="">Selecione especie</option>
                                <option
                                  *ngFor="let item of listaEspecies"
                                  [value]="item.descripcion"
                                >
                                  {{ item.descripcion }}
                                </option>
                              </select>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div
                        class="col-sm-12 col-md-6 col-lg-4"
                        *ngIf="
                          this.formRegistrarMascota.get('especieM')?.value != ''
                        "
                      >
                        <div class="form-group">
                          <label>Raza</label>
                          <div class="form-group">
                            <div class="input-group">
                              <select
                                class="form-control input"
                                formControlName="razaM"
                                [(ngModel)]="idRazaForm"
                              >
                                <option value="">Selecione raza</option>
                                <option
                                  *ngFor="let item of listaRazas"
                                  [value]="item.idRaza"
                                >
                                  {{ item.descripcion }}
                                </option>
                              </select>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-12 col-md-6 col-lg-4">
                        <div class="form-group">
                          <label>Sexo de la mascota</label>
                          <div class="input-group">
                            <select
                              class="form-control input-lg"
                              formControlName="sexoM"
                            >
                              <option value="">Selecionar sexo</option>
                              <option value="Macho">MACHO</option>
                              <option value="Hembra">HEMBRA</option>
                            </select>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="col-sm-4 col-md-6 col-lg-6">
                        <div class="form-group">
                          <label>Tatuaje </label>
                          <input
                            type="text"
                            class="form-control"
                            formControlName="tatuajeM"
                            placeholder="Ingrese el tatuaje si la mascota lo tiene."
                            (input)="convertirAMayusculas()"
                          />
                        </div>
                      </div>
                      <div class="col-sm-4 col-md-6 col-lg-6">
                        <div class="form-group">
                          <label>Conducta</label>
                          <div class="input-group">
                            <select
                              class="form-control input-lg"
                              formControlName="conductaM"
                            >
                              <option value="">Selecionar conducta</option>
                              <option value="CONFIADO">CONFIADO</option>
                              <option value="DESCONFIADO">DESCONFIADO</option>
                            </select>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="col-lg-6">
                        <div class="input-group">
                          <span
                            class="input-group-text"
                            id="inputGroup-sizing-default"
                            >Imagen de la mascota</span
                          >
                          <select
                            class="form-control input-lg"
                            (change)="onChangeOption($event)"
                          >
                            <option value="none">Selecciona una opción</option>
                            <option value="foto">Subir una foto</option>
                            <option value="camara">Tomar una foto</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-lg-6">
                        <div *ngIf="opcionSeleccionada === 'foto'">
                          <div class="input-group mb-12">
                            <span
                              class="input-group-text"
                              id="inputGroup-sizing-default"
                              >Foto</span
                            >
                            <app-input-img
                              (change)="onFileSelected($event)"
                            ></app-input-img>
                          </div>
                        </div>
                        <div *ngIf="opcionSeleccionada === 'camara'">
                          <app-camara
                            (imagenCapturada)="fotoTomada($event)"
                          ></app-camara>
                        </div>
                      </div>
                      <!-- <div class="col-lg-12">

                      </div> -->
                    </div>
                  </div>
                </div>
                <div class="modal-footer justify-content-between">
                  <button
                    type="button"
                    class="btn btn-danger"
                    data-dismiss="modal"
                  >
                    Cerrar
                  </button>
                  <button
                    type="submit"
                    class="btn btn-primary"
                    (click)="guardarMascota()"
                    data-dismiss="modal"
                    aria-label="Close"
                    [disabled]="!formRegistrarMascota.valid"
                  >
                    Guardar datos
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- Editar Mascota -->
      <div class="modal fade" id="modalEditarMascota">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header" style="background-color: #16817a">
              <h4 class="modal-title" style="color: #ffffff">
                Actualizar datos
              </h4>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form [formGroup]="formActualizarMascota">
                <div class="form-row">
                  <div class="col-sm-12 col-md-6 col-lg-12">
                    <div class="form-row">
                      <div class="col-sm-12 col-md-6 col-lg-6">
                        <!-- text input -->
                        <div class="form-group">
                          <label>Nombre de la mascota</label>
                          <input
                            type="text"
                            class="form-control"
                            formControlName="editarnombreM"
                            placeholder="Ingrese el nombre de la mascota"
                            (input)="convertirAMayusculas()"
                          />
                        </div>
                      </div>
                      <div class="col-sm-12 col-md-6 col-lg-6">
                        <div class="form-group">
                          <label>Dueño</label>
                          <input
                            type="text"
                            class="form-control"
                            formControlName="editarduenoM"
                            placeholder="Ingrese el nombre de la mascota"
                            readonly
                          />
                        </div>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="col-sm-12 col-md-6 col-lg-3">
                        <!-- text input -->
                        <div class="form-group">
                          <label>Color</label>
                          <input
                            type="text"
                            class="form-control"
                            formControlName="editarcolorM"
                            placeholder="Ingrese color(es) de la mascota"
                            (input)="convertirAMayusculas()"
                          />
                        </div>
                      </div>
                      <div class="col-sm-12 col-md-6 col-lg-3">
                        <!-- text input -->
                        <div class="form-group">
                          <label>Años</label>
                          <input
                            type="text"
                            class="form-control"
                            formControlName="editaredadAnios"
                            placeholder="año"
                            (change)="calcularFechaNacimientoEditar()"
                          />
                        </div>
                      </div>
                      <div class="col-sm-12 col-md-6 col-lg-3">
                        <!-- text input -->
                        <div class="form-group">
                          <label>Meses</label>
                          <input
                            type="text"
                            class="form-control"
                            formControlName="editaredadMeses"
                            placeholder="meses"
                            (change)="calcularFechaNacimientoEditar()"
                          />
                        </div>
                      </div>
                      <div class="col-sm-12 col-md-6 col-lg-3">
                        <div class="form-group">
                          <label>Fecha de nacimiento</label>

                          <input
                            type="date"
                            class="form-control"
                            formControlName="editarfechaNac"
                            placeholder="Ingrese fecha nac"
                            readonly
                          />
                        </div>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="col-sm-12 col-md-6 col-lg-4">
                        <div class="form-group">
                          <label>Especie</label>
                          <input
                            type="text"
                            class="form-control"
                            formControlName="editarespecieM"
                            placeholder="Ingrese fecha nac"
                            readonly
                          />
                        </div>
                      </div>
                      <div class="col-sm-12 col-md-6 col-lg-4">
                        <div class="form-group">
                          <label>Raza</label>
                          <input
                            type="text"
                            class="form-control"
                            formControlName="editarrazaM"
                            placeholder="Ingrese fecha nac"
                            readonly
                          />
                        </div>
                      </div>
                      <div class="col-sm-12 col-md-6 col-lg-4">
                        <div class="form-group">
                          <label>Sexo de la mascota</label>
                          <div class="input-group">
                            <select
                              class="form-control input-lg"
                              formControlName="editarsexoM"
                            >
                              <option value="">Selecionar sexo</option>
                              <option value="Macho">Macho</option>
                              <option value="Hembra">Hembra</option>
                            </select>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="col-sm-4 col-md-6 col-lg-6">
                        <div class="form-group">
                          <label>Tatuaje (Opcional)</label>
                          <input
                            type="text"
                            class="form-control"
                            formControlName="editartatuajeM"
                            placeholder="Ingrese el tatuaje si la mascota lo tiene."
                          />
                        </div>
                      </div>
                      <div class="col-sm-4 col-md-6 col-lg-6">
                        <div class="form-group">
                          <label>Conducta</label>
                          <div class="input-group">
                            <select
                              class="form-control input-lg"
                              formControlName="editarconductaM"
                            >
                              <option value="">Selecionar sexo</option>
                              <option value="CONFIADO">Confiado</option>
                              <option value="DESCONFIADO">Desconfiado</option>
                            </select>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="modal-footer justify-content-between">
                  <button
                    type="button"
                    class="btn btn-danger"
                    data-dismiss="modal"
                  >
                    Cerrar
                  </button>
                  <button
                    type="submit"
                    class="btn btn-primary"
                    (click)="actualizarMascota()"
                    data-dismiss="modal"
                    aria-label="Close"
                    [disabled]="!formActualizarMascota.valid"
                  >
                    Guardar datos
                  </button>
                </div>
              </form>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
      <!-- Actualizar foto Mascota -->
      <div class="modal fade" id="modalActualizarFoto">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Actualizar Foto</h4>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="form-row">
                <div class="col-lg-12">
                  <div class="input-group">
                    <span
                      class="input-group-text"
                      id="inputGroup-sizing-default"
                      >Imagen de la mascota</span
                    >
                    <select
                      class="form-control input-lg"
                      (change)="onChangeOption($event)"
                    >
                      <option value="none">Selecciona una opción</option>
                      <option value="foto">Subir una foto</option>
                      <option value="camara">Tomar una foto</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="col-lg-12">
                  <div *ngIf="opcionSeleccionada === 'foto'">
                    <div class="input-group mb-12">
                      <span
                        class="input-group-text"
                        id="inputGroup-sizing-default"
                        >Foto</span
                      >
                      <app-input-img
                        (change)="onFileSelected($event)"
                      ></app-input-img>
                    </div>
                  </div>
                  <div *ngIf="opcionSeleccionada === 'camara'">
                    <app-camara
                      (imagenCapturada)="fotoTomada($event)"
                    ></app-camara>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-danger" data-dismiss="modal">
                Cerrar
              </button>
              <button
                type="submit"
                class="btn btn-primary"
                (click)="actualizarFotoMascota(mascotaFotoSeleccionada)"
                data-dismiss="modal"
                aria-label="Close"
              >
                Guardar datos
              </button>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
    </div>
  </div>
</section>
