<!-- Main Sidebar Container -->
<aside
  class="main-sidebar sidebar-dark-primary elevation-4 verdeOscuroBackground"
>
  <!-- Brand Logo -->
  <a class="brand-link">
    <img
      src="assets/dist/img/logoMyPP.png"
      alt="AdminLTE Logo"
      class="brand-image elevation-3"
      style="opacity: 0.8"
    />
    <span class="brand-text font-weight-light">Veterinaria MPP</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img
          src="assets/dist/img/userVeterinario.png"
          class="img-circle elevation-2"
          alt="User Image"
        />
      </div>
      <div class="info">
        <a routerLink="/principal/perfilUsuario" class="d-block">Ver perfil</a>
      </div>
    </div>
    <nav class="mt-2">
      <div *ngIf="esRol('Administrador')">
        <ul
          class="nav nav-pills nav-sidebar flex-column"
          data-widget="treeview"
          role="menu"
          data-accordion="false"
        >
          <li class="nav-item">
            <a routerLink="/principal/inicio" class="nav-link">
              <i class="nav-icon fas fa-home"></i>
              <p>Inicio</p>
            </a>
          </li>
          <li class="nav-header">MASCOTAS</li>
          <li class="nav-item">
            <a routerLink="/principal/mascotas" class="nav-link">
              <i class="nav-icon fas fa-solid fa-paw"></i>
              <p>Mascotas registradas</p>
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="/principal/consultas" class="nav-link">
              <i class="nav-icon fas fa-solid fa-stethoscope"></i>
              <p>Consultas</p>
            </a>
          </li>
          <li class="nav-header">DUEÑOS</li>
          <li class="nav-item">
            <a routerLink="/principal/listarDuenos" class="nav-link">
              <i class="nav-icon fas fa-solid fa-users"></i>
              <p>Dueños registrados</p>
            </a>
          </li>

          <li class="nav-header">USUARIOS</li>
          <li class="nav-item">
            <a routerLink="/principal/usuarios" class="nav-link">
              <i class="nav-icon fas fa-solid fa-users"></i>
              <p>Usuarios registrados</p>
            </a>
          </li>
          <li class="nav-header">RECORDATORIOS</li>
          <li class="nav-item">
            <a routerLink="/principal/recordatorio" class="nav-link">
              <i class="nav-icon fas fa-solid fa-bell"></i>
              <p>Alertas por Correo electrónico</p>
            </a>
          </li>
        </ul>
      </div>
      <div *ngIf="esRol('Veterinario')">
        <ul
          class="nav nav-pills nav-sidebar flex-column"
          data-widget="treeview"
          role="menu"
          data-accordion="false"
        >
          <li class="nav-item">
            <a routerLink="/principal/inicio" class="nav-link">
              <i class="nav-icon fas fa-home"></i>
              <p>Inicio</p>
            </a>
          </li>
          <li class="nav-header">MASCOTAS</li>
          <li class="nav-item">
            <a routerLink="/principal/mascotas" class="nav-link">
              <i class="nav-icon fas fa-solid fa-paw"></i>
              <p>Mascotas registradas</p>
            </a>
          </li>

          <li class="nav-item">
            <a routerLink="/principal/consultas" class="nav-link">
              <i class="nav-icon fas fa-solid fa-stethoscope"></i>
              <p>Consultas</p>
            </a>
          </li>

          <li class="nav-header">DUEÑOS</li>
          <li class="nav-item">
            <a routerLink="/principal/listarDuenos" class="nav-link">
              <i class="nav-icon fas fa-solid fa-users"></i>
              <p>Dueños registrados</p>
            </a>
          </li>
          <li class="nav-header">RECORDATORIOS</li>
          <li class="nav-item">
            <a routerLink="/principal/recordatorio" class="nav-link">
              <i class="nav-icon fas fa-solid fa-bell"></i>
              <p>Consultas pedientes</p>
            </a>
          </li>
        </ul>
      </div>

      <div *ngIf="esRol('Recepcionista')">
        <ul
          class="nav nav-pills nav-sidebar flex-column"
          data-widget="treeview"
          role="menu"
          data-accordion="false"
        >
          <li class="nav-item">
            <a routerLink="/principal/inicio" class="nav-link">
              <i class="nav-icon fas fa-home"></i>
              <p>Inicio</p>
            </a>
          </li>
          <li class="nav-header">MASCOTAS</li>
          <li class="nav-item">
            <a routerLink="/principal/mascotas" class="nav-link">
              <i class="nav-icon fas fa-solid fa-paw"></i>
              <p>Mascotas registradas</p>
            </a>
          </li>

          <li class="nav-header">DUEÑOS</li>
          <li class="nav-item">
            <a routerLink="/principal/listarDuenos" class="nav-link">
              <i class="nav-icon fas fa-solid fa-users"></i>
              <p>Dueños registrados</p>
            </a>
          </li>

          <li class="nav-header">USUARIOS</li>

          <li class="nav-header">RECORDATORIOS</li>
          <li class="nav-item">
            <a routerLink="/principal/recordatorio" class="nav-link">
              <i class="nav-icon fas fa-solid fa-bell"></i>
              <p>Consultas pedientes</p>
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</aside>
