<div class="row">
  <div class="col-lg-6 text-center">
    <!-- <div *ngIf="!camaraAbierta && !fotoTomada">
      <button (click)="startCamera()">Abrir Cámara</button>
    </div> -->
    <video #videoElement class="camera-preview" autoplay></video>

    <div class="row">
      <div class="col-12 " *ngIf="camaraAbierta">
        <button class="btn btn-info" (click)="takePhoto()"> <i class="fas fa-camera"></i> Tomar Foto</button>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div *ngIf="fotoTomada && !camaraAbierta">
      <img class="img-preview" [src]="photo" alt="Descripción de la imagen" />
      <button class="btn btn-info" (click)="startCamera()">Repetir foto</button>
    </div>
  </div>
</div>
