<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="content-header">
      <div class="container- fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Inicio</h1>
          </div>
          <!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Inicio</a></li>
              <li class="breadcrumb-item active">Panel de Control</li>
            </ol>
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </div>
    <!-- CAJAS DE NOTIFICACIONES -->
    <div class="row">
      <div class="col-md-3 col-sm-6 col-12">
        <div class="info-box">
          <span class="info-box-icon bg-info"><i class="fas fa-dog"></i></span>
          <div class="info-box-content">
            <span class="info-box-text">Mascotas registradas</span>
            <span class="info-box-number">{{ nMascotas }}</span>
          </div>
        </div>
      </div>
      <!-- /.col -->
      <div class="col-md-3 col-sm-6 col-12">
        <div class="info-box">
          <span class="info-box-icon bg-info">
            <i class="fas fa-solid fa-stethoscope"></i
          ></span>
          <div class="info-box-content">
            <span class="info-box-text">Consutas Realizadas</span>
            <span class="info-box-number">{{ nConsultas }}</span>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-12">
        <div class="info-box">
          <span class="info-box-icon bg-info">
            <i class="fas fa-solid fa-users"></i
          ></span>
          <div class="info-box-content">
            <span class="info-box-text">Dueños registrados</span>
            <span class="info-box-number">{{ nDuenos }}</span>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-6 col-12">
        <div class="info-box">
          <span class="info-box-icon bg-info">
            <i class="fas fa-solid fa-user"></i
          ></span>
          <div class="info-box-content">
            <span class="info-box-text">Usuarios registrados</span>
            <span class="info-box-number">{{ nUsuarios }}</span>
          </div>
        </div>
      </div>
      <!-- /.col -->
    </div>

    <div class="row">
      <!-- Left col -->
      <section class="col-sm-6 col-lg-5 connectedSortable">
        <!-- TABLA DE GRAFICO DE VENTAS-->
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">
              <i class="fas fa-chart-bar mr-1"></i>
              Consultas realizadas
            </h3>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <ngx-spinner type="ball-scale-multiple">
              <div
                class="spinner"
                bdOpacity="0.6"
                bdColor=" rgba(117, 227, 231, 0.8)"
              ></div>
              <div class="textSpinner">Cargando datos ...</div>
            </ngx-spinner>
            <div class="tab-content p-0">
              <div class="row">
                <div class="col-sm-12 col-12">
                  <canvas id="myChart"></canvas>

                </div>
              </div>
              <div class="row">
                <div class="col-12"></div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="col-sm-6 col-lg-7 content">
        <div class="row">
          <div class="col-12">
            <div class="card card-solid">
              <div class="card-header">
                <div class="card-title">
                  <div>
                    <i class="fas fa-money-bill"></i> Ventas por
                    <b>{{ tiempo }}</b>
                  </div>
                </div>
                <div class="float-right">
                  <button
                    class="btn btn-info ml-2"
                    [ngClass]="{
                      'btn-info': contenidoSeleccionado === 'dia',
                      'btn-secondary': contenidoSeleccionado !== 'dia'
                    }"
                    (click)="cambiarContenido('dia')"
                  >
                    Ventas del día
                  </button>
                  <button
                    class="btn btn-info ml-2"
                    [ngClass]="{
                      'btn-info': contenidoSeleccionado === 'mes',
                      'btn-secondary': contenidoSeleccionado !== 'mes'
                    }"
                    (click)="cambiarContenido('mes')"
                  >
                    Ventas del mes
                  </button>
                  <button
                    class="btn btn-info ml-2"
                    [ngClass]="{
                      'btn-info': contenidoSeleccionado === 'anio',
                      'btn-secondary': contenidoSeleccionado !== 'anio'
                    }"
                    (click)="cambiarContenido('anio')"
                  >
                    Ventas del año
                  </button>
                </div>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-3 col-6">
                    <div class="description-block border-right">
                      <h5 class="description-header text-success text-lg">
                        {{ ventasConsultas }} Bs.
                      </h5>
                      <span class="description-text">Consultas</span>
                    </div>
                  </div>
                  <div class="col-sm-3 col-6">
                    <div class="description-block border-right">
                      <h5 class="description-header text-success text-lg">
                        {{ ventasVacunas }} Bs.
                      </h5>
                      <span class="description-text">Vacunas</span>
                    </div>
                  </div>
                  <div class="col-sm-3 col-6">
                    <div class="description-block border-right">
                      <h5 class="description-header text-success text-lg">
                        {{ ventasDesparacitaciones }} Bs.
                      </h5>
                      <span class="description-text">Desparacitaciones</span>
                    </div>
                  </div>
                  <div class="col-sm-3 col-6">
                    <div class="description-block border-right">
                      <h5 class="description-header text-success text-lg">
                        {{ ventasCirugias }} Bs.
                      </h5>
                      <span class="description-text">Cirugias</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="card card-solid">
              <div class="card-header">
                <h3 class="card-title">Últimos pacientes</h3>
              </div>
              <div class="card-body">
                <div class="row">
                  <div
                    class="col-lg-3 col-sm-4 col-md-4 d-flex flex-column"
                    *ngFor="let item of ultimasMascotas"
                    style="margin-top: 5px"
                  >
                    <div class="bordeImagen">
                      <div (click)="navegarVentanaHistorial(item)">
                        <img
                          [src]="
                            item.foto
                              ? item?.foto
                              : item?.raza.idEspecie === 1
                              ? '../../../assets/dist/img/avatarPerro.png'
                              : '../../../assets/dist/img/avatarGato.png'
                          "
                          class="imagenFija"
                        />
                        <div class="text-center textImagen">
                          {{ item.nombreMascota }}
                        </div>
                      </div>
                    </div>
                  </div>
                  <br />
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</section>
