<!-- <div class="card-body">
  <h1>Iniciar sesión</h1>
  <form [formGroup]="formIngresar">
    <div class="row">
      <div class="col-sm-6 col-md-6 col-lg-12">
        <div class="form-group">
          <label for="username">Correo </label>
          <input
            type="email"
            class="form-control"
            formControlName="correo"
            required
          />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-md-6 col-lg-12">
        <div class="form-group">
          <label for="password">Contraseña:</label>
          <input
            type="password"
            class="form-control"
            formControlName="contrasena"
            required
          />
        </div>
      </div>
    </div>
    <div>
      <a href="">Olvidé mi contraseña.</a>
    </div>

    <button class="btn btn-primary" type="submit" (click)="ingresar()">
      Iniciar sesión
    </button>
  </form>
</div> -->
<div class="body">
  <div class="card custom-card-body">
    <!-- Contenido de tu formulario de inicio de sesión -->
    <div class="card-body">
      <div class="text-center custom-heading text-lg">Veterinaria My Puppy Planet</div>
      <div class="login-logo">
        <img src="../../../assets/dist/img/userVeterinario.png" class="profile-user-img img-fluid" alt="">
      </div>
      <div class="text-center custom-heading text-m">Iniciar sesión</div>

      <form [formGroup]="formIngresar">

        <div class="form-group my-3">
          <div class="input-group mb-3">
            <input type="email" class="form-control" formControlName="correo" placeholder="Correo electrónico" />
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-envelope"></span>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group my-3">
          <div class="input-group mb-3">
            <input type="password" class="form-control" formControlName="contrasena" placeholder="Contraseña" />
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>
        </div>


        <div class="text-center">
          <button
          class="btn btn-success  mt-3"
          type="submit"
          (click)="ingresar()"
        >
          INGRESAR
        </button>
        </div>

      </form>
    </div>
    <!-- <div class="modal fade" id="modalDueno">
      <div class="modal-dialog modal-m">
        <div class="modal-content">
          <div class="modal-header colorVerdeBackground">
            <h4 class="modal-title colorVerdeLetras padding-right">
              Registrar Dueños
            </h4>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form >
              <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-6">
                  <div class="form-group">
                    <label>Nombre</label>
                    <input
                      type="text"
                      class="form-control"
                      formControlName="nombreD"

                    />

                  </div>
                </div>

              </div>


              <div class="modal-footer justify-content-between">
                <button
                  type="button"
                  class="btn btn-danger"
                  data-dismiss="modal"
                >
                  Cerrar
                </button>
                <button
                  type="submit"
                  class="btn btn-primary"

                  data-dismiss="modal"

                >
                  Guardar datos
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div> -->

  </div>
</div>
