<div class="content-header"></div>
<!-- /.content-header -->

<!-- Main content -->

<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3">
        <!-------------  datos de la mascota -->
        <div class="card lineaArriba" *ngIf="datos">
          <div class="card-body box-profile">
            <div class="text-center">
              <div class="text-center">
                <h4>Mascota</h4>
                <img
                  class="profile-user-img img-fluid"
                  [src]="
                  datos.foto
                      ? datos?.foto
                      : datos?.idEspecie === 1
                      ? '../../../assets/dist/img/avatarPerro.png'
                      : '../../../assets/dist/img/avatarGato.png'
                  "
                  alt="User profile picture"
                />
              </div>
            </div>
            <h3
              class="profile-username text-center"
              id="nombreM"
              name="nombreM"
            >
              {{ datos.nombreMascota }}
            </h3>
            <ul class="list-group list-group-unbordered sm-3">
              <li class="list-group-item">
                <b>Color</b>
                <a class="float-right" style="color: #000000">
                  {{ datos.color }}</a
                >
              </li>
              <li class="list-group-item">
                <b>Edad</b>
                <a class="float-right" style="color: #000000">{{ calcularEdad(datos.fecha_nacimiento).anios}} años {{ calcularEdad(datos.fecha_nacimiento).meses }} meses</a>
              </li>
              <li class="list-group-item">
                <b>Especie</b>
                <a
                  class="float-right"
                  style="color: #000000"
                  *ngIf="datos.raza.idEspecie === 1"
                >
                  Canino</a
                >
                <a
                  class="float-right"
                  style="color: #000000"
                  *ngIf="datos.raza.idEspecie === 2"
                >
                  Felino</a
                >
              </li>
              <li class="list-group-item">
                <b>Raza</b>
                <a class="float-right" style="color: #000000">{{
                  datos.raza.descripcion
                }}</a>
              </li>
              <li class="list-group-item">
                <b>Sexo</b>
                <a class="float-right" style="color: #000000">{{
                  datos.sexo
                }}</a>
              </li>
              <li class="list-group-item">
                <b>Tatuaje</b>
                <a class="float-right" style="color: #000000">{{
                  datos.tatuaje
                }}</a>
              </li>
            </ul>

            <app-actualizar-mascota [idMascota]="datos.idMascota"               *ngIf="esRol('Administrador') || esRol('Veterinario')"
            ></app-actualizar-mascota>
          <app-historial-pdf [idMascota]="datos.idMascota"></app-historial-pdf>
          </div>
        </div>
      </div>
      <!-- /.col -->
      <div class="col-md-9">
        <div class="invoice p-3 mb-3 lineaArriba">
          <div class="row">
            <div class="col-12">
              <h4 class="custom-title">
                <i class="fas fa-file-medical"></i> Historia clínica veterinaria
              </h4>
              <h5 class="titulo">Datos del dueño</h5>
            </div>
          </div>
          <div class="row invoice-info">
            <div class="col-sm-6 invoice-col">
              <dl class="row" *ngIf="datos">
                <dt class="col-sm-5">Nombre</dt>
                <dd class="col-sm-7">
                  {{ datos.dueno.nombres }}
                  {{ datos.dueno.apellidoMaterno }}
                  {{ datos.dueno.apellidoPaterno }}
                </dd>
                <dt class="col-sm-5">Dirección</dt>
                <dd class="col-sm-7">{{datos.dueno.direccion}}</dd>
              </dl>
            </div>

            <div class="col-sm-6 invoice-col">
              <dl class="row" *ngIf="datos">
                <dt class="col-sm-5">Teléfono</dt>
                <dd class="col-sm-7">{{ datos.dueno.telefono }}</dd>
                <dt class="col-sm-5">Correo Electronico</dt>
                <dd class="col-sm-7">{{ datos.dueno.correo }}</dd>
              </dl>
            </div>
          </div>
        </div>

        <div class="card card-primary card-tabs">
          <div class="card-header p-0 pt-1 custom-card-header">
            <ul class="nav nav-tabs" id="custom-tabs-one-tab" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" href="#vacunas" data-toggle="tab"
                  >Vacunas</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#desparacitacion" data-toggle="tab"
                  >Desparasitaciones </a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#cirugias" data-toggle="tab"
                  >Cirugias</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#consultas" data-toggle="tab"
                  >Consultas</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#otros" data-toggle="tab">Otros</a>
              </li>
            </ul>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <div class="tab-content">
              <!-- Ventana  Vacunas -->

              <div class="active tab-pane" id="vacunas">
                <table class="table table-sm">
                  <thead>
                    <tr>
                      <th style="width: 1%">#</th>
                      <th style="width: 20%">Vacuna</th>
                      <th style="width: 20%">Laboratorio</th>
                      <th style="width: 20%">Fecha vacunación</th>
                      <th style="width: 20%">Fecha revacunación</th>
                      <th style="width: 15%">Acciones</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of listaVacunas; let i = index">
                      <td>{{ i + 1 }}</td>
                      <td>{{ item.descripcion_vacuna }}</td>
                      <td>{{ item.laboratorio }}</td>
                      <td>{{ item.fecha_vacunacion }}</td>
                      <td>{{ item.fecha_revacunacion }}</td>
                      <td>
                        <button
                          class="btn btn-info btn-xs"
                          data-toggle="modal"
                          data-target="#verMasModalVacunas"
                          (click)="openModalVacunas(item.id_vacuna)"
                        >
                          <i class="fas fa-eye"></i>
                          ver mas
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!-- ****************************Modal Vacunas -->
              <div
                class="modal fade"
                id="verMasModalVacunas"
                tabindex="-1"
                role="dialog"
                aria-labelledby="verMasModalLabel"
                aria-hidden="true"
              >
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header bg-info custom-card-header">
                      <h5 class="modal-title" id="verMasModalLabel">
                        Detalle Vacuna
                      </h5>
                      <button
                      type="button"
                      class="btn btn-danger"
                      data-dismiss="modal"
                    >
                      Cerrar
                    </button>
                    </div>
                    <div class="modal-body" *ngIf="detalleVacuna">
                      <div class="row">
                        <div class="col-sm-3">
                          <div class="image-container">
                            <img
                              class="profile-user-img img-fluid"
                              src="../../../assets/dist/img/vacunas.png"
                              alt="User profile picture"
                            />
                          </div>
                        </div>
                        <div class="col-sm-9">
                          <ul class="list-group list-group-unbordered sm-3">
                            <li class="list-group-item">
                              <b>Fecha de vacunacion </b>
                              <a class="float-right" style="color: #000000">
                                {{ detalleVacuna.fecha_vacunacion }}
                              </a>
                            </li>
                            <li class="list-group-item">
                              <b>Descripcion vacuna </b>
                              <a class="float-right" style="color: #000000">
                                {{ detalleVacuna.descripcion_vacuna }}
                              </a>
                            </li>
                            <li class="list-group-item">
                              <b>Laboratorio: </b>
                              <a class="float-right" style="color: #000000">
                                {{ detalleVacuna.laboratorio }}
                              </a>
                            </li>
                            <li class="list-group-item">
                              <b>Fecha de revacunacion: </b>
                              <a class="float-right" style="color: #000000">
                                {{ detalleVacuna.fecha_revacunacion }}
                              </a>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <div class="subtitulo">Datos del control Fisico</div>
                      <hr class="custom-hr" />
                      <div class="row invoice-info">
                        <div class="col-sm-12 invoice-col">
                          <dl class="row">
                            <dt class="col-sm-5 small">
                              <strong>Temperatura</strong>
                            </dt>
                            <dd class="col-sm-7 small">
                              {{ detalleVacuna.datosControlFisico.temperatura }} ºC
                            </dd>
                            <dt class="col-sm-5 small">
                              <strong>Peso</strong>
                            </dt>
                            <dd class="col-sm-7 small">
                              {{ detalleVacuna.datosControlFisico.peso }} Kg
                            </dd>
                            <dt class="col-sm-5 small">
                              <strong>Frecuencia cardiaca</strong>
                            </dt>
                            <dd class="col-sm-7 small">
                              {{
                                detalleVacuna.datosControlFisico.frecCardiaca
                              }} LPM
                            </dd>
                            <dt class="col-sm-5 small">
                              <strong>Frecuencia respiratoria</strong>
                            </dt>
                            <dd class="col-sm-7 small">
                              {{
                                detalleVacuna.datosControlFisico
                                  .frecRespiratoria
                              }} RPM
                            </dd>
                          </dl>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
              <!----- Ventana  Desparacitaciones -->
              <div class="tab-pane" id="desparacitacion">
                <table class="table table-sm">
                  <thead>
                    <tr>
                      <th style="width: 1%">#</th>
                      <th style="width: 10%">Tipo</th>
                      <th style="width: 10%">Vía</th>

                      <th style="width: 15%">Fecha de aplicación</th>
                      <th style="width: 15%">Proxima dosis</th>
                      <th style="width: 15%">Acciones</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr
                      *ngFor="let item of listaDesparacitaciones; let i = index"
                    >
                      <td>{{ i + 1 }}</td>
                      <td>{{ item.tipo_desparacitacion }}</td>
                      <td>{{ item.via_desparacitcion }}</td>

                      <td>{{ item.fecha_desparacitacion }}</td>
                      <td>{{ item.fecha_proxima_desparacitacion }}</td>
                      <td>
                        <button
                          class="btn btn-info btn-xs"
                          data-toggle="modal"
                          data-target="#verMasModalDesparacitaciones"
                          (click)="
                            openModalDesparacitaciones(item.id_desparacitacion)
                          "
                        >
                          <i class="fas fa-eye"></i>
                          ver mas
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!-- ****************************Modal vista de  desparacitacion -->
              <div
                class="modal fade"
                id="verMasModalDesparacitaciones"
                tabindex="-1"
                role="dialog"
                aria-labelledby="verMasModalLabel"
                aria-hidden="true"
              >
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header bg-info custom-card-header">
                      <h5 class="modal-title" id="verMasModalLabel">
                        Detalle Desparasitación
                      </h5>
                      <button
                      type="button"
                      class="btn btn-danger"
                      data-dismiss="modal"
                    >
                      Cerrar
                    </button>
                    </div>
                    <div class="modal-body" *ngIf="detalleDesparacitacion">
                      <div class="row">
                        <div class="col-sm-3">
                          <div class="image-container">
                            <img
                              class="profile-user-img img-fluid"
                              src="../../../assets/dist/img/desparacitacion.png"
                              alt="User profile picture"
                            />
                          </div>
                        </div>
                        <div class="col-sm-9">
                          <ul class="list-group list-group-unbordered sm-2">
                            <li class="list-group-item">
                              <b>Fecha de desparasitación </b>
                              <a class="float-right" style="color: #000000">
                                {{
                                  detalleDesparacitacion.fecha_desparacitacion
                                }}</a
                              >
                            </li>
                            <li class="list-group-item">
                              <b>Tipo </b>
                              <a
                                class="float-right"
                                style="color: hsl(0, 0%, 0%)"
                              >
                                Desparasitación
                                {{
                                  detalleDesparacitacion.tipo_desparacitacion
                                }}
                              </a>
                            </li>
                            <li class="list-group-item">
                              <b>Vía: </b>

                              <a class="float-right" style="color: #000000">
                                {{
                                  detalleDesparacitacion.via_desparacitcion
                                }}</a
                              >
                            </li>
                            <li class="list-group-item">
                              <b>Principio activo </b>
                              <a class="float-right" style="color: #000000">
                                {{ detalleDesparacitacion.principio_activo }}</a
                              >
                            </li>
                            <li class="list-group-item">
                              <b>Producto: </b>
                              <a class="float-right" style="color: #000000">
                                {{
                                  detalleDesparacitacion.producto_desparacitacion
                                }}</a
                              >
                            </li>
                            <li class="list-group-item">
                              <b>Fecha de revacunacion: </b>
                              <a class="float-right" style="color: #000000">
                                {{
                                  detalleDesparacitacion.fecha_proxima_desparacitacion
                                }}
                              </a>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <div class="subtitulo">Datos del control Fisico</div>
                      <hr class="custom-hr" />
                      <div class="row invoice-info">
                        <div class="col-sm-12 invoice-col">
                          <dl class="row">
                            <dt class="col-sm-5 small">
                              <strong>Temperatura</strong>
                            </dt>
                            <dd class="col-sm-7 small">
                              {{
                                detalleDesparacitacion.datosControlFisico
                                  .temperatura
                              }} ºC
                            </dd>
                            <dt class="col-sm-5 small">
                              <strong>Peso</strong>
                            </dt>
                            <dd class="col-sm-7 small">
                              {{
                                detalleDesparacitacion.datosControlFisico.peso
                              }} KG
                            </dd>
                            <dt class="col-sm-5 small">
                              <strong>Frecuencia cardiaca</strong>
                            </dt>
                            <dd class="col-sm-7 small">
                              {{
                                detalleDesparacitacion.datosControlFisico
                                  .frecCardiaca
                              }} LPM
                            </dd>
                            <dt class="col-sm-5 small">
                              <strong>Frecuencia respiratoria</strong>
                            </dt>
                            <dd class="col-sm-7 small">
                              {{
                                detalleDesparacitacion.datosControlFisico
                                  .frecRespiratoria
                              }} RPM
                            </dd>
                          </dl>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Ventana  Cirugias -->
              <div class="tab-pane" id="cirugias">
                <table class="table table-sm">
                  <thead>
                    <tr>
                      <th style="width: 1%">#</th>
                      <th style="width: 30%">Cirugia</th>
                      <th style="width: 15%">Fecha de cirugia</th>
                      <th style="width: 30%">Descripción</th>
                      <th style="width: 15%"></th>
                    </tr>
                  </thead>
                  <tbody *ngFor="let item of listaCirugias; let i = index">
                    <tr>
                      <td>{{i+1}}</td>
                      <td>{{item.tipo_cirugia}}</td>
                      <td>{{item.fecha_cirugia}}</td>
                      <td>{{item.descripcion_cirugia}}</td>
                      <td>
                        <button
                          class="btn btn-info btn-xs"
                          data-toggle="modal"
                          data-target="#verMasModalCirugias"
                          (click)="openModalCirugias(item.id_cirugia)"
                        >
                          <i class="fas fa-eye"></i>
                          ver mas
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!-- **************************///////////Modal vista de  cirugias -->
              <div
                class="modal fade"
                id="verMasModalCirugias"
                tabindex="-1"
                role="dialog"
                aria-labelledby="verMasModalLabel"
                aria-hidden="true"
              >
                <div class="modal-dialog modal-lg" role="document">
                  <div class="modal-content">
                    <div class="modal-header bg-info custom-card-header">
                      <h5 class="modal-title" id="verMasModalCirugias">
                        Detalle Cirugia
                      </h5>
                      <button
                      type="button"
                      class="btn btn-danger"
                      data-dismiss="modal"
                    >
                      Cerrar
                    </button>
                    </div>

                    <div class="modal-body" *ngIf="detalleCirugia">
                      <div class="row">
                        <div class="col-sm-3">
                          <div class="image-container">
                            <img
                              class="profile-user-img img-fluid"
                              src="../../../assets/dist/img/cirugias.png"
                              alt="User profile picture"
                            />
                          </div>
                        </div>
                        <div class="col-sm-9">
                          <ul class="list-group list-group-unbordered sm-2" >
                            <li class="list-group-item">
                              <b>Fecha de cirugia: </b>
                              <a class="float-right" style="color: #000000">
                                {{detalleCirugia.fecha_cirugia}}
                              </a>
                            </li>
                            <li class="list-group-item">
                              <b>Tipo de cirugia: </b>
                              <a class="float-right" style="color: #000000">
                                {{detalleCirugia.tipo_cirugia}}
                              </a>
                            </li>
                            <li class="list-group-item">
                              <b>Descripción: </b>
                              <a class="float-right" style="color: #000000">
                                {{detalleCirugia.descripcion_cirugia}}
                              </a>
                            </li>
                            <li class="list-group-item">
                              <b>Observaciones adicionales:</b>
                              <a class="float-right" style="color: #000000">
                                {{detalleCirugia.observaciones_cirugia}}
                              </a>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-6 invoice-col">
                          <div class="subtitulo">Datos de la anamnesis</div>
                          <hr class="custom-hr" />
                          <div class="row invoice-info">
                            <div class="col-sm-12 invoice-col">
                              <dl class="row">
                                <dt class="col-sm-5 small">
                                  <strong>Alteraciones respiratorias</strong>
                                </dt>
                                <dd class="col-sm-7 small">
                                  {{
                                    detalleCirugia.datosAnamnecis.alteracionesRes
                                    }}
                                </dd>
                                <dt class="col-sm-5 small">
                                  <strong>Alteraciones neurológicas</strong>
                                </dt>
                                <dd class="col-sm-7 small">
                                  {{
                                      detalleCirugia.datosAnamnecis
                                        .alteracionesNeuro
                                    }}
                                </dd>
                                <dt class="col-sm-5 small">
                                  <strong>Problemas urinarios</strong>
                                </dt>
                                <dd class="col-sm-7 small">
                                  {{ detalleCirugia.datosAnamnecis.problemasUr }}
                                </dd>
                                <dt class="col-sm-5 small">
                                  <strong>Ingesta de agua</strong>
                                </dt>
                                <dd class="col-sm-7 small">
                                  {{ detalleCirugia.datosAnamnecis.agua }}
                                </dd>
                                <dt class="col-sm-5 small">
                                  <strong>Apetito: </strong>
                                </dt>
                                <dd class="col-sm-7 small">
                                  {{ detalleCirugia.datosAnamnecis.apetito }}
                                </dd>
                                <dt class="col-sm-5 small">
                                  <strong>Conducta: </strong>
                                </dt>
                                <dd class="col-sm-7 small">
                                  {{ detalleCirugia.datosAnamnecis.conducta }}
                                </dd>
                                <dt class="col-sm-5 small">
                                  <strong>Defecación</strong>
                                </dt>
                                <dd class="col-sm-7 small">
                                  {{ detalleCirugia.datosAnamnecis.defecacion }}
                                </dd>
                              </dl>
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-6 invoice-col">
                          <div class="subtitulo">Datos del control Fisico</div>
                          <hr class="custom-hr" />
                          <div class="row invoice-info">
                            <div class="col-sm-12 invoice-col">
                              <dl class="row">
                                <dt class="col-sm-5 small">
                                  <strong>Temperatura</strong>
                                </dt>
                                <dd class="col-sm-7 small">
                                  {{
                                detalleCirugia.datosControlFisico.temperatura
                              }} ºC
                                </dd>
                                <dt class="col-sm-5 small">
                                  <strong>Peso</strong>
                                </dt>
                                <dd class="col-sm-7 small">
                                  {{ detalleCirugia.datosControlFisico.peso }} KG
                                </dd>
                                <dt class="col-sm-5 small">
                                  <strong>Frecuencia cardiaca</strong>
                                </dt>
                                <dd class="col-sm-7 small">
                                  {{
                                detalleCirugia.datosControlFisico.frecCardiaca
                              }} LPM
                                </dd>
                                <dt class="col-sm-5 small">
                                  <strong>Frecuencia respiratoria</strong>
                                </dt>
                                <dd class="col-sm-7 small">
                                  {{
                                    detalleCirugia.datosControlFisico
                                  .frecRespiratoria
                              }} LPM
                                </dd>
                              </dl>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Ventana  Consultas -->
              <div class="tab-pane" id="consultas">
                <table class="table table-sm">
                  <thead>
                    <tr>
                      <th style="width: 1%">#</th>
                      <th style="width: 15%">Motivo</th>
                      <th style="width: 15%">Diagnostico</th>

                      <th style="width: 15%">Fecha consulta</th>
                      <th style="width: 15%">Proxima consulta</th>
                      <th style="width: 15%">Acciones</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of listaConsultas; let i = index">
                      <td>{{ i + 1 }}</td>
                      <td>{{ item.motivo_consulta }}</td>
                      <td>{{ item.diagnostico_consulta }}</td>
                      <td>{{ item.fecha_registro_consulta }}</td>
                      <td>{{ item.fecha_prox_visita }}</td>
                      <td>
                        <button
                          class="btn btn-info btn-xs"
                          data-toggle="modal"
                          data-target="#verMasModalConsultas"
                          (click)="openModalConsultas(item.id_consulta_medica)"
                        >
                          <i class="fas fa-eye"></i>
                          ver mas
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <!-- **************************///////////Modal vista de  consultas -->
            <div
              class="modal fade"
              id="verMasModalConsultas"
              tabindex="-1"
              role="dialog"
              aria-labelledby="verMasModalLabel"
              aria-hidden="true"
            >
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header bg-info custom-card-header">
                    <h5 class="modal-title" id="verMasModalLabel">
                      Detalle consulta
                    </h5>
                    <button
                      type="button"
                      class="btn btn-danger"
                      data-dismiss="modal"
                    >
                      Cerrar
                    </button>
                  </div>
                  <div class="modal-body" *ngIf="detalleConsulta">
                    <div class="row">
                      <div class="col-sm-3">
                        <div class="image-container">
                          <img
                            class="profile-user-img img-fluid"
                            src="../../../assets/dist/img/consulta.png"
                            alt="User profile picture"
                          />
                        </div>
                      </div>
                      <div class="col-sm-9">
                        <ul class="list-group list-group-unbordered sm-2">
                          <li class="list-group-item">
                            <b>Fecha de consulta: </b>
                            <a class="float-right" style="color: #000000">
                              {{ detalleConsulta.fecha_registro_consulta }}
                            </a>
                          </li>
                          <li class="list-group-item">
                            <b>Motivo: </b>
                            <a class="float-right" style="color: #000000">
                              {{ detalleConsulta.motivo_consulta }}
                            </a>
                          </li>
                          <li class="list-group-item">
                            <b>Diagnostico: </b>
                            <a class="float-right" style="color: #000000">
                              {{ detalleConsulta.diagnostico_consulta }}
                            </a>
                          </li>
                          <li class="list-group-item">
                            <b>Tratamiento:</b>
                            <a class="float-right" style="color: #000000">
                              {{ detalleConsulta.tratamiento }}
                            </a>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-6 invoice-col">
                        <div class="subtitulo">Datos de la anamnesis</div>
                        <hr class="custom-hr" />
                        <div class="row invoice-info">
                          <div class="col-sm-12 invoice-col">
                            <dl class="row">
                              <dt class="col-sm-5 small">
                                <strong>Alteraciones respiratorias</strong>
                              </dt>
                              <dd class="col-sm-7 small">
                                {{
                                  detalleConsulta.datosAnamnecis.alteracionesRes
                                }}
                              </dd>
                              <dt class="col-sm-5 small">
                                <strong>Alteraciones neurológicas</strong>
                              </dt>
                              <dd class="col-sm-7 small">
                                {{
                                  detalleConsulta.datosAnamnecis
                                    .alteracionesNeuro
                                }}
                              </dd>
                              <dt class="col-sm-5 small">
                                <strong>Problemas urinarios</strong>
                              </dt>
                              <dd class="col-sm-7 small">
                                {{ detalleConsulta.datosAnamnecis.problemasUr }}
                              </dd>
                              <dt class="col-sm-5 small">
                                <strong>Ingesta de agua</strong>
                              </dt>
                              <dd class="col-sm-7 small">
                                {{ detalleConsulta.datosAnamnecis.agua }}
                              </dd>
                              <dt class="col-sm-5 small">
                                <strong>Apetito: </strong>
                              </dt>
                              <dd class="col-sm-7 small">
                                {{ detalleConsulta.datosAnamnecis.apetito }}
                              </dd>
                              <dt class="col-sm-5 small">
                                <strong>Conducta: </strong>
                              </dt>
                              <dd class="col-sm-7 small">
                                {{ detalleConsulta.datosAnamnecis.conducta }}
                              </dd>
                              <dt class="col-sm-5 small">
                                <strong>Defecación</strong>
                              </dt>
                              <dd class="col-sm-7 small">
                                {{ detalleConsulta.datosAnamnecis.defecacion }}
                              </dd>
                            </dl>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-6 invoice-col">
                        <div class="subtitulo">Datos del control Fisico</div>
                        <hr class="custom-hr" />

                        <div class="row invoice-info">
                          <div class="col-sm-12 invoice-col">
                            <dl class="row">
                              <dt class="col-sm-5 small">
                                <strong>Temperatura</strong>
                              </dt>
                              <dd class="col-sm-7 small">
                                {{
                                  detalleConsulta.datosControlFisico.temperatura
                                }} ºC
                              </dd>
                              <dt class="col-sm-5 small">
                                <strong>Peso</strong>
                              </dt>
                              <dd class="col-sm-7 small">
                                {{ detalleConsulta.datosControlFisico.peso }} KG
                              </dd>
                              <dt class="col-sm-5 small">
                                <strong>Frecuencia cardiaca</strong>
                              </dt>
                              <dd class="col-sm-7 small">
                                {{
                                  detalleConsulta.datosControlFisico
                                    .frecCardiaca
                                }} LPM
                              </dd>
                              <dt class="col-sm-5 small">
                                <strong>Frecuencia respiratoria</strong>
                              </dt>
                              <dd class="col-sm-7 small">
                                {{
                                  detalleConsulta.datosControlFisico
                                    .frecRespiratoria
                                }} RPM
                              </dd>
                            </dl>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>


                </div>
              </div>
            </div>
            <!-- /.tab-content -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
