<div class="content-header">
  <div class="container- fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0">Mascotas</h1>
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->

<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3">
        <!-------------  datos de la mascota -->
        <div class="card card-primary">
          <div class="card-header" style="background-color: #fa744f">
            <h3 class="card-title">Mascota</h3>
          </div>
          <div class="card-body box-profile">
            <div class="text-center">
              <td><img src="" class="img-thumbnail" width="150px" /></td>
              <td>
                <img
                  src="vistas\assets\dist\img\logoPerroyGato.png"
                  class="img-thumbnail"
                  width="150px"
                />
              </td>
            </div>
            <h3
              class="profile-username text-center"
              id="nombreM"
              name="nombreM"
            ></h3>
            <ul class="list-group list-group-unbordered sm-3">
              <li class="list-group-item">
                <b>Color</b> <a class="float-right" style="color: #000000"></a>
              </li>
              <li class="list-group-item">
                <b>Edad</b> <a class="float-right" style="color: #000000"></a>
              </li>
              <li class="list-group-item">
                <b>Especie</b>
                <a class="float-right" style="color: #000000"></a>
              </li>
              <li class="list-group-item">
                <b>Raza</b> <a class="float-right" style="color: #000000"></a>
              </li>
              <li class="list-group-item">
                <b>Sexo</b> <a class="float-right" style="color: #000000"></a>
              </li>
              <li class="list-group-item">
                <b>Tatuaje</b>
                <a class="float-right" style="color: #000000"></a>
              </li>
            </ul>
          </div>
        </div>
        <!------------------- DATOS DEL DUENO--->
        <div class="card card-primary">
          <div class="card-header" style="background-color: #fa744f">
            <h3 class="card-title">Propietario</h3>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <strong><i class="fas fa-book mr-1"></i> Nombre</strong>
            <p class="text-muted"></p>
            <hr />
            <strong
              ><i class="fas fa-map-marker-alt mr-1"></i> Dirección</strong
            >
            <p class="text-muted"></p>
            <hr />
            <strong><i class="fa-solid fa-phone"></i> Telefono/Celular</strong>
            <p class="text-muted">
              <span class="tag tag-danger"> </span>
            </p>
            <hr />
            <strong><i class="fa-solid fa-at"></i> Correo electrónico</strong>
            <p class="text-muted"></p>
          </div>
          <!-- /.card-body -->
        </div>
      </div>
      <!-- /.col -->
      <div class="col-md-9">
        <div class="card">
          <div class="card-header p-2">
            <ul class="nav nav-pills">
              <li class="nav-item">
                <a class="nav-link active" href="#vacunas" data-toggle="tab"
                  >Vacunas</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#desparacitacion" data-toggle="tab"
                  >Desparacitaciones y vitaminas</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#cirugias" data-toggle="tab"
                  >Cirugias</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#servicios" data-toggle="tab"
                  >Consultas</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#otros" data-toggle="tab">Otros</a>
              </li>
            </ul>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <div class="tab-content">
              <!-- Ventana  Vacunas -->
              <div class="active tab-pane" id="vacunas">
                <div class="card card-info">
                  <div class="card-header">
                    <div class="row">
                      <div class="col-sm-9 col-md-6 col-lg-4">
                        <h3 class="card-title">Vacunas</h3>
                      </div>
                    </div>
                  </div>
                  <div class="card-body p-0">
                    <table class="table table-striped projects">
                      <thead>
                        <tr>
                          <th style="width: 1%">#</th>

                          <th style="width: 15%">Vacuna</th>
                          <th style="width: 15%">Tipo de vacuna</th>

                          <th style="width: 20%">Fecha de vacunación</th>
                          <th style="width: 20%">Fecha de refuerzo</th>
                          <th style="width: 10%">Edad</th>
                          <th style="width: 10%">Peso</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td></td>
                          <td>
                            <a> </a>
                          </td>
                          <td>
                            <a> tipo </a>
                          </td>
                          <td>
                            <a> </a>
                          </td>
                          <td>
                            <a> </a>
                          </td>
                          <td>
                            <a> edad </a>
                          </td>
                          <td>
                            <a> peso </a>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <!----- Ventana  Desparacitaciones -->
              <div class="tab-pane" id="desparacitacion">
                <div class="card card-info">
                  <div class="card-header">
                    <div class="row">
                      <div class="col-sm-9 col-md-6 col-lg-4">
                        <h3 class="card-title">Desparacitación y Vitaminas</h3>
                      </div>
                    </div>
                  </div>
                  <div class="card-body p-0">
                    <table class="table table-striped projects">
                      <thead>
                        <tr>
                          <th style="width: 5%">#</th>
                          <th style="width: 10%">Fecha</th>

                          <th style="width: 15%">Producto</th>
                          <th style="width: 10%">peso</th>
                          <th style="width: 30%">
                            Desparacitación / Vitaminas
                          </th>
                          <th style="width: 20%">Proxima visita</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>1</td>
                          <td>
                            <a> </a>
                          </td>
                          <td>
                            <a> </a>
                          </td>
                          <td>
                            <a> peso </a>
                          </td>
                          <td>
                            <a> vacuna/ desparacitacion </a>
                          </td>
                          <td>
                            <a> </a>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <!-- /.tab-pane -->
              <!-- Ventana  Cirugias -->
              <div class="tab-pane" id="cirugias">
                <div class="card card-info">
                  <div class="card-header">
                    <div class="row">
                      <div class="col-sm-9 col-md-6 col-lg-4">
                        <h3 class="card-title">Cirugias y observaciones</h3>
                      </div>
                    </div>
                  </div>
                  <div class="card-body p-0">
                    <table class="table table-striped projects">
                      <thead>
                        <tr>
                          <th style="width: 5%">#</th>
                          <th style="width: 15%">Fecha cirugia</th>
                          <th style="width: 15%">Fecha Chequeo</th>
                          <th style="width: 15%">Edad</th>
                          <th style="width: 20%">Tipo cirugia</th>
                          <th style="width: 40%">Observaciones</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td></td>
                          <td>
                            <a> </a>
                          </td>
                          <td>
                            <a> </a>
                          </td>
                          <td>
                            <a> edad </a>
                          </td>
                          <td>
                            <a> </a>
                          </td>
                          <td>
                            <a> </a>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="servicios">
                <div class="card card-info">
                  <div class="card-header">
                    <div class="row">
                      <div class="col-sm-9 col-md-6 col-lg-4">
                        <h3 class="card-title">Consultas</h3>
                      </div>
                    </div>
                  </div>
                  <div class="card-body p-0">
                    <table class="table table-striped projects">
                      <thead>
                        <tr>
                          <th style="width: 5%">#</th>
                          <th style="width: 15%">Fecha consulta</th>

                          <th style="width: 20%">Motivo</th>
                          <th style="width: 20%">Acciones</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td></td>
                          <td>
                            <a> </a>
                          </td>
                          <td>
                            <a> </a>
                          </td>

                          <td>
                            <a
                              class="btn btn-primary bg-indigo btn-sm btnHistorial"
                              idMascota=""
                            >
                              <i class="fa-solid fa-eye"></i>
                              Mas Detalles
                            </a>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="otros">
                <div class="card card-info">
                  <div class="card-header">
                    <div class="row">
                      <div class="col-sm-9 col-md-6 col-lg-4">
                        <h3 class="card-title">Consultas</h3>
                      </div>
                    </div>
                  </div>
                  <div class="card-body p-0">
                    <table class="table table-striped projects">
                      <thead>
                        <tr>
                          <th style="width: 5%">#</th>
                          <th style="width: 20%">Fecha consulta</th>

                          <th style="width: 50%">Motivo</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>1</td>
                          <td>
                            <a> Fecha </a>
                          </td>
                          <td>
                            <a> Producto </a>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.tab-content -->
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</section>
