<button
  type="button"
  class="btn btn-block bg-danger"
  data-toggle="modal"
  data-target="#modalEditarMascota"
><i class="nav-icon fas fa-solid fa-file-pdf"></i>
Generar PDF
</button>
<div class="modal" id="modalEditarMascota">
  <div class="modal-dialog modal-dialog-scrollable modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="verMasModalLabel"></h5>
        <div> <button
          type="button"
          class="btn btn-danger"
          (click)="generarPDF2()"
          data-dismiss="modal"
        >
          Descargar
        </button>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button></div>


      </div>
      <div class="modal-body">
        <section class="content">
          <div class="container-fluid">
            <section class="content">
              <div id="content" #reportContent>
                <div class="row">
                  <div class="col-12 text-center d-flex align-items-center">
                    <div style="flex: 0 0 auto">
                      <img
                        src="../../../assets/dist/img/logoPdf.png"
                        alt="user-avatar"
                        class="img-fluid"
                        style="width: 150px"
                      />
                    </div>
                    <div style="flex: 1">
                      <h4 class="custom-title">
                        <strong> Veterinaria My Puppy Plannet </strong>
                      </h4>
                    </div>
                  </div>
                </div>
                <hr class="custom-hr" />
                <div class="row">
                  <div class="col-12">
                    <div class="text-muted">
                      <div class="row">
                        <div class="col-sm-6">
                          <p class="text">
                            <b>Usuario: </b>{{ datosUsuario?.nombres }}
                            {{ datosUsuario?.apellidoPaterno }}
                            {{ datosUsuario?.apellidoMaterno }}
                          </p>
                        </div>
                        <div class="col-sm-6">
                          <p class="text">

                          </p>
                        </div>
                      </div>
                    </div>
                    <h5 class="text-center"><b>Dueños registrados</b></h5>

                    <hr />
                  </div>
                </div>

                <div class="row">
                  <div class="col-12">
                    <table class="table">
                      <thead>
                        <tr>
                          <th scope="col">#</th>
                          <th scope="col">Nombres y apellidos</th>
                          <th scope="col">Dirección</th>
                          <th scope="col">Carnet</th>
                          <th scope="col">Correo electrónico</th>
                          <th scope="col">Teléfono</th>


                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let item of listaUsuarios; let i = index">
                          <th scope="row">{{ i + 1 }}</th>
                          <td>{{ item.nombres}} {{ item.apellidoPaterno}} {{ item.apellidoMaterno}}</td>
                          <td>
                            {{item.direccion}}
                          </td> <td>{{ item.carnet}}</td>
                          <td>{{ item.correo}}</td>
                          <td>{{ item.celular }}</td>
                          <td>

                          </td>

                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </section>
      </div>

    </div>

  </div>

</div>
