/* You can add global styles to this file, and also import other style files */
.colorVerdeBackground{
    background: #16817A;
}
.colorVerdeLetras{
    color: #ffffff;
}
.verdeOscuroBackground{
    background: #024249;
}

.naranjaBackground{
    background: #fa744f;
}
.colorBlancoLetras{
    color: #ffffff;
}
.headerCardConsultas{
    background: #16817A;
    color: #ffffff;
}
.headerCardConsultas .ul.li{
    color: #ffffff;
}