<section class="content">
  <div class="container-fluid">
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Dueños de mascotas</h1>
          </div>
          <!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Inicio</a></li>
              <li class="breadcrumb-item active">Dueños</li>
            </ol>
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="card">
      <!-- HEADER DEL LISTAR USUARIOS -->
      <div class="card-header headerCardConsultas">
        <div class="row">
          <div class="col-md-5">
            <div class="input-group mb-2">
              <input
                type="text"
                class="form-control rounded-0"
                placeholder="Buscar dueño"
                [(ngModel)]="buscarTexto"
                (input)="buscarDueno()"
                placeholder="Buscar dueño por nombre"
              />

            </div>
          </div>
          <div class="col-md-3">
            <button
              type="button"
              class="btn btn-block bg-gradient-info"
              data-toggle="modal"
              data-target="#modalDueno"  *ngIf="esRol('Administrador') || esRol('Veterinario')"
            >
              <i class="nav-icon fas fa-solid fa-plus"></i> Registrar Dueño
            </button>
          </div>
          <div class="col-md-3">
            <app-lista-duenos></app-lista-duenos>
          </div>
        </div>
      </div>
      <!-- MOSTRAR LOS DUEÑOS -->
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header"></div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0">
              <table class="table table-head-fixed text-nowrap table-hover">
                <thead>
                  <tr>
                    <th style="width: 1%">N°</th>
                    <th style="width: 13%">Nombre</th>
                    <th style="width: 13%">Apellidos</th>
                    <th style="width: 10%">Direccion</th>
                    <th style="width: 10%">Correo</th>
                    <th style="width: 8%">Teléfono</th>
                    <th style="width: 15%">Acciones</th>
                  </tr>
                </thead>

                <tbody>
                  <tr
                    *ngFor="
                      let item of listaDuenos
                        | paginate : { itemsPerPage: 10, currentPage: p };
                      let i = index
                    "
                  >
                    <td>{{ i + 1 }}</td>
                    <td>{{ item.nombres }}</td>
                    <td>
                      {{ item.apellidoPaterno }} {{ item.apellidoMaterno }}
                    </td>
                    <td>{{ item.direccion }}</td>
                    <td>{{ item.correo }}</td>
                    <td>{{ item.telefono }}</td>
                    <td>
                      <div class="d-inline-block">
                        <a
                          class="btn btn-success btn-sm"
                          href="javascript:void(0);"
                          (click)="abrirVentanaMascotas(item.idDuenos)"
                        >
                          <i class="fas fa-eye"> </i>
                          Ver mas
                        </a>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="d-flex justify-content-center">
                <pagination-controls
                  (pageChange)="p = $event"
                ></pagination-controls>
              </div>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
      </div>
    </div>
    <!-- MODAL PARA REGISTAR LOS DUEÑOS -->
    <div class="modal fade" id="modalDueno">
      <div class="modal-dialog modal-m">
        <div class="modal-content">
          <div class="modal-header colorVerdeBackground">
            <h4 class="modal-title colorVerdeLetras padding-right">
              Registrar Dueños
            </h4>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form [formGroup]="formRegistrarDueno">
              <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-6">
                  <div class="form-group">
                    <label>Nombre</label>
                    <input
                      type="text"
                      class="form-control"
                      formControlName="nombreD"
                      (blur)="verNombreError = true"
                      [(ngModel)]="textoEnMayusculas"
                      (input)="convertirAMayusculas()"
                    />
                    <app-error-message
                      [error]="formRegistrarDueno.get('nombreD')?.errors"
                      [showError]="verNombreError"
                    ></app-error-message>
                  </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-6">
                  <div class="form-group">
                    <label>Apellido paterno</label>
                    <input
                      type="text"
                      class="form-control"
                      formControlName="apellidoPD"
                      (blur)="verApellidoPError = true"
                      [(ngModel)]="textoEnMayusculas"
                      (input)="convertirAMayusculas()"
                    />
                    <app-error-message
                      [error]="formRegistrarDueno.get('apellidoPD')?.errors"
                      [showError]="verApellidoPError"
                    ></app-error-message>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-6">
                  <div class="form-group">
                    <label>Apellido materno</label>
                    <input
                      type="text"
                      class="form-control"
                      formControlName="apellidoMD"
                      (blur)="verApellidoMError = true"

                      (input)="convertirAMayusculas()"
                    />
                    <app-error-message
                      [error]="formRegistrarDueno.get('apellidoMD')?.errors"
                      [showError]="verApellidoMError"
                    ></app-error-message>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-6">
                  <div class="form-group">
                    <label>Teléfono o celular</label>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Ingrese el teléfono"
                      formControlName="celularD"
                      (blur)="verCelularError = true"

                    />
                    <app-error-message
                      [error]="formRegistrarDueno.get('celularD')?.errors"
                      [showError]="verCelularError"
                    ></app-error-message>

                  </div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6">
                  <div class="form-group">
                    <label>Dirección</label>
                    <input
                      type="text"
                      class="form-control"
                      formControlName="direccionD"
                      placeholder="Ingrese la dirección de su domicilio"
                      (blur)="verDireccionError = true"
                      [(ngModel)]="textoEnMayusculas"
                      (input)="convertirAMayusculas()"
                    />
                    <app-error-message
                      [error]="formRegistrarDueno.get('direccionD')?.errors"
                      [showError]="verDireccionError"
                    ></app-error-message>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-12">
                  <!-- text input -->
                  <div class="form-group">
                    <label>Correo electrónico</label>
                    <input
                      type="email"
                      class="form-control"
                      formControlName="correoD"
                      (blur)="verCorreoError = true"
                    />
                    <app-error-message
                      [error]="formRegistrarDueno.get('correoD')?.errors"
                      [showError]="verCorreoError"
                    ></app-error-message>
                  </div>
                </div>
              </div>

              <div class="modal-footer justify-content-between">
                <button
                  type="button"
                  class="btn btn-danger"
                  data-dismiss="modal"
                >
                  Cerrar
                </button>
                <button
                  type="submit"
                  class="btn btn-primary"
                  (click)="guardarDueno()"
                  data-dismiss="modal"
                  [disabled]="!formRegistrarDueno.valid"
                >
                  Guardar datos
                </button>
              </div>
            </form>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>

    <!-- MODAL PARA EDITAR LOS DUEÑOS -->
    <!-- <div class="modal fade" id="modalEditarDueno">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header" style="background-color: #16817a">
            <h4
              class="modal-title"
              style="color: aliceblue; padding-right: 50px"
            >
              Editar Dueño
            </h4>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form method="post">
              <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-6">
                  <div class="form-group">
                    <input
                      type="hidden"
                      class="form-control"
                      value=""
                      name="idEd"
                      id="idEd"
                    />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-6">
                  <div class="form-group">
                    <label>Nombre</label>
                    <input
                      type="text"
                      class="form-control"
                      value=""
                      name="editarnombreD"
                      id="editarnombreD"
                    />
                  </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-6">
                  <div class="form-group">
                    <label>Apellido Paterno</label>
                    <input
                      type="text"
                      class="form-control"
                      value=""
                      id="editarapPD"
                      name="editarapPD"
                    />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-6">
                  <div class="form-group">
                    <label>Apellido materno</label>
                    <input
                      type="text"
                      class="form-control"
                      value=""
                      id="editarapMD"
                      name="editarapMD"
                    />
                  </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-6">
                  <div class="form-group">
                    <label>Carnet</label>
                    <input
                      type="number"
                      class="form-control"
                      value=""
                      name="editarcarnetD"
                      id="editarcarnetD"
                    />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-6">
                  <div class="form-group">
                    <label>Telefono</label>
                    <input
                      type="number"
                      class="form-control"
                      value=""
                      id="editartelD"
                      name="editartelD"
                    />
                  </div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6">
                  <div class="form-group">
                    <label>Dirección</label>
                    <input
                      type="text"
                      class="form-control"
                      id="editardirD"
                      name="editardirD"
                      value=""
                    />
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-12">

                  <div class="form-group">
                    <label>Correo</label>
                    <input
                      type="email"
                      class="form-control"
                      id="editarcorreoD"
                      name="editarcorreoD"
                      value=""
                    />
                  </div>
                </div>
              </div>

              <div class="modal-footer justify-content-between">
                <button
                  type="button"
                  class="btn btn-danger"
                  data-dismiss="modal"
                >
                  Cerrar
                </button>
                <button type="submit" class="btn btn-primary">
                  Guardar datos
                </button>
              </div>
            </form>
          </div>
        </div>

      </div>

    </div> -->
  </div>
</section>
